{% block jquery %}
$('.perfil a').click(function(){
  $('.perfil').hide();
  $('.perfil_edit').show();
});

$('.perfil_edit a').click(function(){
  $.post('{{ path('phpreview_admin_usuario_atualizaregra',{'_format':'json'}) }}',
         {'id': '{{usuario.getId()}}','role':$("nova_regra").val()},
         function(data){
            if (data.valido == 1){
              $('.text_regra').html(data.mensagem);
              $('.perfil_edit').hide(); $('.perfil').show();
            }else{
              alert(data.mensagem);
            });
});
{% endblock %}

<h1>Usuário: {{ usuario.getNmUsuario() }}</h1>
<p class="informacao_cadastro">Usuário cadastrado em {{ usuario.getDtCriacao('d/m/Y H:i') }}<br />
Última Atualização {{ usuario.getDtAtualizacao('d/m/Y H:i') }}</p>

<table class="tabela_usuario">
    <tr>
       <td>
          <img src="{{ (usuario.geraGravatar(usuario.getDsEmail())) }}" alt="Gravatar" class="gravatar">
       </td>
    </tr>
    <tr>
       <td>Perfil: </td>
       <td><div class="perfil"><span class="texto_regra">{{ usuario.getRole() }}</span><a href="#">editar</a></div>
           <div class="perfil_edit"> 
              <select id="nova_regra">
                {% for classe in usuario.getListaRoles() %}
                  <option value="{{classe.value}}" {% if classe.value == usuario.getRole() %} selected="true" {% endif %}>{{ classe.text }}</option>
                {% endfor %}
              </select>
                <a href="#">ok</a>
           </div>
       </td>
    </tr>
    <tr>
       <td>Email: </td>
       <td>{{ usuario.getDsEmail() }}</td>
    </tr>
    <tr>
       <td>Sexo: </td>
       <td>{% if usuario.getSexo() == "F" %} F - Feminino {% else %} M - Masculino {% endif %}</td>
    </tr>
    <tr>
       <td>Estado: </td>
       <td>{{ usuario.getEstado().getDsEstado()|default('') }} - {{ usuario.getEstado().getNacao()|default('') }}</td>
    </tr>
    <tr>
       <td colspan="2"> Informações sobre o usuário</td>
    </tr>
    <tr>
       <td>Nível de cargo: </td>
       <td>{{ usuario.getCargo().getDsCargo()|default('') }}</td>
    </tr>
    <tr>
       <td>Escolaridade: </td>
       <td>{{ usuario.getEscolaridade().getDsEscolaridade()|default('') }}</td>
    </tr>
    <tr>
       <td>Como conheceu a revista: </td>
       <td>{{ usuario.getComoConheceu().getDsComoConheceu()|default('') }}</td>
    </tr>
    <tr>
       <td>Total de Notícias: </td>
       <td>{{ usuario.getNoticias().count() }}</td>
    </tr>
</table>
